<div class="container biblio">
     {{#each libros}}
        <div class="cadalibro padding">
            <ul>
                
                <li>Título: {{this.titulo}}</li>
                <li>Autor/es: {{this.autores}}</li>
                <li>Editorial: {{this.editorial}}</li>
                <li>Usuario: {{this.name}}</li>
               
            </ul>
        </div>
         {{/each}}
    </div>