 <div class="section">
    <form action="/findlocalbooks" method="get">
        <input id="title" type="text" name="title" class="text-input user" placeholder="Titulo, Autor o ISBN">
        <button onclick="findLocalBooks()" class="waves-effect waves-light btn pink darken-1"></button>
    </form>
    <div class="error-message" id="error-message"></div>
</div>

<div id="localbooks"></div>

<div class="container biblio">
    {{#each libros}}
    <div class="cadalibro padding">
        <ul>

            <li>Título: {{this.titulo}}</li>
            <li>Autor/es: {{this.autores}}</li>
            <li>Editorial: {{this.editorial}}</li>
            <li>Usuario: {{this.name}}</li>

        </ul>
    </div>
    {{/each}}
</div>
<script src="js/ajax.js"></script>