<div class="padding temas">
  <div>
    <form action="#">
    <p>
      <label>
        <input type="checkbox" class="filled-in" />
        <span>Red</span>
      </label>
    </p>

    <p>
      <label>
        <input type="checkbox" class="filled-in" />
        <span>Red</span>
      </label>
    </p>

    <p>
      <label>
        <input type="checkbox" class="filled-in" />
        <span>Red</span>
      </label>
    </p>


    <p>
      <label>
        <input type="checkbox" class="filled-in" />
        <span>Red</span>
      </label>
    </p>
    </form>    
  </div>
  <div>
    <form action="#">
    <p>
      <label>
        <input type="checkbox" class="filled-in" />
        <span>Red</span>
      </label>
    </p>

    <p>
      <label>
        <input type="checkbox" class="filled-in" />
        <span>Red</span>
      </label>
    </p>

    <p>
      <label>
        <input type="checkbox" class="filled-in" />
        <span>Red</span>
      </label>
    </p>


    <p>
      <label>
        <input type="checkbox" class="filled-in" />
        <span>Red</span>
      </label>
    </p>
    </form>  
  </div>    
  <div>
    <form action="#">
      <p>
        <label>
          <input type="checkbox" class="filled-in" />
          <span>Red</span>
        </label>
      </p>

      <p>
        <label>
          <input type="checkbox" class="filled-in" />
          <span>Red</span>
        </label>
      </p>

      <p>
        <label>
          <input type="checkbox" class="filled-in" />
          <span>Red</span>
        </label>
      </p>


      <p>
        <label>
          <input type="checkbox" class="filled-in" />
          <span>Red</span>
        </label>
      </p>
    </form>   
  </div>   
    <div>
      <form action="#">
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Red</span>
          </label>
        </p>

        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Red</span>
          </label>
        </p>

        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Red</span>
          </label>
        </p>


        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Red</span>
          </label>
        </p>
    </form>    
  </div>

</div>

<a class="waves-effect waves-light btn boton ">button</a>