<h1 class="titulo">
    Hyper <br> El link entre tus libros.
</h1>

<div>
    <h6 class="home-title">
        <span> Una red para archivar,</span>
        <span>intercambiar y conocer libros.</span>
    </h6>
</div>


<div class="nosotros" data-aos="fade-up">
    <h2 class="padding">¿Qué es Hyper?</h2>
    <h6>
        Hyper es una plataforma donde se juntan los lectores. Ante la perspectiva de una biblioteca personal y estática, decidimos crear una red de lectores que 
        les permita generar un flujo de lectura dinámico, a través del intercambio de libros. Solo debes registrarte, seleccionar los libros que posees y estas dispuesto a intercambiar y
        definir tus preferencias y ya puedes buscar el libro que quieras.
    </h6>

    <div class="pasos padding">
        <i class="large material-icons padding">account_box</i>
        <i class="large material-icons padding">library_books</i>
        <i class="large material-icons padding">check_circle</i>
    </div>
    
</div>
<a class="waves-effect waves-light btn boton " href="/registrar">Registrate</a>

<div class="nosotros " data-aos="fade-up">
    <h2 class="padding">Utiliza nuestro buscador!</h2>
    <h6>
        Si nuestra propuesta te parece desepcionante o no quieres compartir tus libros, puedes usar nuestro buscador
        de libros y autores. Debes ingresar título o ISBN del libro o el autor, mientras más preciso seas, mejor será el 
        resultado. Te presentaremos los diez libros más relevantes a tu búsqueda, con título, autor, editorial y 
        fecha de lanzamiento.
    </h6>
    <div class="padding nosotros">
    <input id="titleId" type="text" placeholder="Título, autor o ISBN"> 
    <button class="waves-effect waves-light btn" onclick= 'getBook()'>Buscar</button>

    <div id="titleList"></div>
</div>
    


</div>    

<script>
    function getBook() {
  let titleId = document.getElementById("titleId").value;

  let xhr = new XMLHttpRequest();

  xhr.onload = function() {
    document.getElementById("titleList").innerHTML = "";

    let arrayOriginal = JSON.parse(xhr.responseText).items;

    arrayResumido = arrayOriginal.map(elemento => {
      return {
        titulo: elemento.volumeInfo.title,
        autores: elemento.volumeInfo.authors ? elemento.volumeInfo.authors.join(", "): "<NO INFORMADO>",
        editorial: elemento.volumeInfo.publisher,
        lanzamiento: elemento.volumeInfo.publishedDate
      };
    });

    for (let index = 0; index < arrayResumido.length; index++) {
      filaLibro = `<hr><ul class="bookfound"><li>${arrayResumido[index].titulo}</li><li>${arrayResumido[index].autores}</li><li>${arrayResumido[index].editorial }</li><li>${arrayResumido[index].lanzamiento}</ul><br><hr>`;
      document.getElementById("titleList").innerHTML += filaLibro;
    }

    console.log(arrayResumido);
  };
  xhr.open("GET", `https://www.googleapis.com/books/v1/volumes?q=${titleId}`);
  xhr.send("");
}
</script>







