 <div class="section padding">
    <form action="/login" method="post">
        <label for="user-id" class="text-input-label user">Usuario</label>
        <input type="text" name="user" class="text-input user" id="user-id">
        <label for="password" class="text-input-label password">Clave</label>
        <input type="password" name="password" class="text-input password" id="password">
        <button onclick="doLogin()" type="submit" name="Login" id="do-login" class="waves-effect waves-light btn pink darken-1">Entrar</button>
    </form>
    <div class="error-message" id="error-message"></div>
</div>
<script src="js/index.js"></script>