
{{#each perfil}}
<div class="container flex">
    <ul>
        <li>{{this.name}}</li>
        <li>{{this.mail}}</li>
        <li><img src="/uploads/{{this.image}}"></li>
        
    </ul>
</div>
{{/each}}